.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navItems {
    list-style: none;
    display: flex;
}

.navItem {
    margin-right: 20px;
    font-size: 20px;
}

.footer {
    margin-top: 100px;
}